* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#top-nav-bar {
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: #333;
}

#top-nav-bar-items {
    position: absolute;
    top: 0;
    left: 0;

}

.top-nav-bar-item {
    font-size: 1.5vw;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
}



#top-nav-bar-slogen {
    position: absolute;
    top: 0;
    color: white;
    left: 40%;
    animation-name: slogen;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}

@keyframes slogen {
    0% {top: 250px; font-size: xx-large;}
    100% {top:0; font-size: medium;}
    
}

#top-nav-bar-slogen h2 {
    position: absolute;
    top: 0;
    color: white;
    animation-name: quate;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    opacity: 0;
}

@keyframes quate {
    0% {top: 70px;font-size: x-large; opacity: 100%;}
    100% {top: 20px; font-size: large;opacity: 0;}
    
}

#top-nav-bar-icon img {
    position: absolute;
    top: 0;
    right: 15px;
    width: 50px;
    height: 45px;
}

#video-between-nav-bars video {
    margin-top: 35px;
    width: 100%;
    height: auto;
}

#middle-nav-bar {
    height: 37px;
}

nav#middle-nav-bar-items {
    padding-left: 25px;
    background-color: rgb(5, 5, 116);
}

.middle-nav-bar-item {
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 30px;
}

#active-page {
    background-color: rgb(24, 137, 241);
}

.middle-nav-bar-item:hover {
    background-color: rgb(27, 27, 224);
}

#bottom-nav-bar {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#bottom-nav-bar-items {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.bottom-nav-bar-item {
    color: white;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}

.bottom-nav-bar-item:hover {
    color: grey;
}

#bottom-nav-bar-social {
    padding-right: 15px;
}

#bottom-nav-bar-social a {
    padding-right: 10px;
}

#bottom-nav-bar-social img {
    background-color: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}


@media only screen and (max-width: 600px) {

    #top-nav-bar-items {
        display: none;
    } 

    nav#middle-nav-bar-items {
        display: flex;
        flex-direction:column ;
    }
}